.text {
  font-size: 16px;
  line-height: 20px;
  color: rgb(104, 9, 9);
}

.h1 {
  font-size: 24px;
  color: blueviolet;
}

.h2 {
  font-size: 20px;
  color: blue;
}

.h3 {
  font-size: 16px;
  color: coral;
}
